include ../../../src/pug/base/meta

doctype html
html
  head
    +meta(
      "About | サンプルサイト",
      "サンプルサイトの説明文です。",
      "/common/images/ogp.png",
      "https://example.com"
    )

    include ../../../src/pug/base/head-assets
  body
    include ../../../src/pug/base/header

    h1 about
    p This is a test page.
    <img src="/common/images/about/about.jpg" alt="Dummy Image">

    include ../../../src/pug/base/footer
    include ../../../src/pug/base/body-append
